.sidebar{
	margin-bottom: 10px;
	background-color: grey;
	font-size: 13px;
	border: 2px solid black;
	min-height: 150px;
	text-align: center;
}

.maincontent{
	margin-bottom: 10px;
	background-color: grey;
	font-size: 13px;
	border: 2px solid black;
	min-height: 310px;
	text-align: center;
}